git+https://github.com/IAmTomahawkx/enhanced-discord.py.git@downstream-2.0
aiohttp
parsedatetime
python-dateutil
jishaku
humanize
psutil
beautifulsoup4
lxml
wavelink
pillow
colorama
matplotlib
tabulate
asyncpg
lru_dict
pynacl
viper-lang
pytz
ujson
git+https://github.com/sethcall/toml.git