git+https://github.com/Idevision/enhanced-discord.py.git
aiohttp
parsedatetime
python-dateutil
jishaku
humanize
psutil
beautifulsoup4
lxml==4.7.1
pillow
colorama
matplotlib
tabulate
asyncpg
lru_dict
pynacl
viper-lang
pytz
ujson
git+https://github.com/sethcall/toml.git